.section-date
	width 770px
	display block
	&_posotion
		float left
		margin 106px 0 72px 0
	.date-form
		width auto
		height 39px
		position relative
		&__label-text
			width auto
			font-size 23px
			font-weight bold
			position absolute
			bottom 0px
		&__field
			width 206px
			font-family 'Courier New', sans-serif
			color #231f20
			font-size 30px
			font-weight normal
			border none
			border-bottom 3px solid #42261f
			background none
			padding 0 0 5px 14px
			position absolute
			left 181px
			bottom 4px
