mixin word-info()
	+b.word-info&attributes(attributes)
						section.talk_words
					h3 Расскажите о себе словами
					p.
						Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. 
						Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
					form.talk_words_text_area
						textarea(name='about_youself' form='id_about_you' value='Talk about you') БЭМ,PUG,Stylus,Gulp,jQuery - изучаю. Английский - читаю тех. доки.Ленивый - люблю автоматизацию.Верстка+JS.Мотивирован
