.words-form
	display block
	&_position
		float left
		margin 27px 0 0 2px
	&__textarea
		width 770px
		height 158.3999999999px
		font-family 'Courier New', sans-serif
		font-size 30px
		line-height 1.76
		border none
		background none
		background linear-gradient(transparent 49.8px, #4c3028 3px)
		background-size 100% 52.8px
		background-repeat y-repeat
		padding-left 4px
