.words-form
	display block
	top 23px
	&__textarea
		width 771px
		height 180px
		font-family 'Courier New', sans-serif
		font-size 30px
		line-height 60px
		border none
		background none
		background-image url('../../text_area_line.png')
		background-repeat y-repeat
		background-position 0px 23px
