mixin words-form()
	+b('form').words-form._position&attributes(attributes)
		+e('textarea').textarea(name='about_youself' form='id_about_you' value='') БЭМ,PUG,Stylus,Gulp,jQuery - изучаю. Английский - читаю тех. доки.Ленивый - люблю автоматизацию.Верстка+JS.Мотивирован
