.section-textarea
	display block
	.section-textarea-block
		float left
		margin-top 142px
		&__title
			font-size 24px
			font-weight bold
		&__title-text
			font-size 15px
			width 755px
			line-height 1.3
			color #464542
			&_position
				margin-top 13px
		.section-textarea-form
			top 23px
			&__field
				width 771px
				height 180px
				font-family 'Courier New', sans-serif
				font-size 30px
				line-height 60px
				border none
				background none
				background-image url('../../text_area_line.png')
				background-repeat y-repeat
				background-position 0px 23px
