.content
display block
	.main_cont
		width 770px
		margin 26px 0 0 113px
		float left
		text-align left
		// .data
		// 	float left
		// 	.bio
		// 		float left
		// 		&_name
		// 			width 142px
					
		// 		&_year_born
		// 			width 148px
		// 		&_address
		// 			width 192px
		// 		&_id_skype
		// 		&_email
		// 			width 63px
					
		// 		input
		// 			float left
		// 			font-family 'Courier New', sans-serif
		// 			color #231f20
		// 			font-size 30px
		// 			font-weight normal
		// 			border none
		// 			background rgba(255, 255, 255, 0)
		// 			padding 20px 0 8px 31px
		// 			&.bio_name
		// 				width 620px
		// 			&.bio_year_born
		// 				width 145px
		// 			&.bio_address
		// 				width 500px
		// 			&.bio_id_skype
		// 			&.bio_email
		// 				width 400px
		// 		&_label
		// 			float left
		// 			line-height 1
		// 			padding-top 44px
		// 			font-size 23px
		// 			font-weight bold
		// 		img
		// 			width auto
		// 			float right
		.checkbox
			width 770px
			margin-top 69px
			float left
			h3
				font-size 24px
				font-weight bold
			p
				font-size 15px
				width 755px
				line-height 1.3
				color #464542
				margin-top 13px
			.row
				font-size 21px
				font-weight bold
				margin-top 33px
				float left
				.form_col_1
					width 258px
					float left
				.form_col_2
					width 270px
					float left
				.form_col_3
					width 242px
					float left
				&_checkbox_block
					width 100%
					float left
					margin-bottom 17px
					span
						float left
						margin-left 29px
					&_img
						position absolute
					&_input
						position absolute
						top -4px
						left 3px
						opacity 0
					&_checked
						position absolute
						z-index 1000
						top -28px
						left 0px
						p
							font-size 30px
							color #2f1b15
							font-style italic
							opacity 0
				.form_col_1
					li:nth-child(1)
						p
							opacity 1
					li:nth-child(2)
						p
							opacity 1
					li:nth-child(3)
						p
							opacity 1
				.form_col_2
					li:nth-child(1)
						p
							opacity 1

							opacity 1
					li:nth-child(4)
						p
							opacity 1

				.form_col_3
					li:nth-child(1)
						p
							opacity 1
					li:nth-child(2)
						p
							opacity 1
					li:nth-child(4)
						p
							opacity 1
		.level_js
			float left
			margin-top 45px
			h3
				font-size 24px
				font-weight bold
			&_block
				position relative
				&_marker
					position absolute
					top 28px
					left 258px
				&_line_horiz
					position absolute
					top 35px
				&_line_left_side
					position absolute
					top 45px
				&_line_middle_mark_1
					position absolute
					top 45px
					left 148px
				&_line_middle_mark_2
					position absolute
					top 45px
					left 374px
				&_line_right_side
					position absolute
					top 45px
					left 759px
				&_text
					width 770px
					font-size 13px
					font-weight bold
					color #37221b
					position absolute
					top 77px
					left 3px
					&_1
						float left
						width 149px
					&_2
						float left
						width 228px
					&_3
						float left
						width 180px
					&_4
						float right
						text-align right
						width 166px
		.talk_words
			float left
			margin-top 142px
			h3
				font-size 24px
				font-weight bold
			p
				font-size 15px
				width 755px
				line-height 1.3
				color #464542
				margin-top 13px
			&_text_area
				top 23px
				textarea
					width 771px
					height 180px
					font-family 'Courier New', sans-serif
					font-size 30px
					line-height 60px
					border none
					background none
					background-image url('../../text_area_line.png')
					background-repeat y-repeat
					background-position 0px 23px
		.plans_future
			float left
			margin-top 53px
			h3
				font-size 24px
				font-weight bold
			p
				font-size 15px
				width 755px
				line-height 1.3
				color #464542
				margin-top 13px
			&_form
				float left
				width 100%
				margin-top 24px
				&_radio
					width auto
					margin-right 20px
					float left
					&_custom
						position relative
						&_ellipse
							position absolute
						input
							position absolute
							top 7px
							left 7px
							display none
					span
						font-size 20px
						font-weight bold
						width auto
						margin 5px 0 0 33px
						float left
				&_checked
					position absolute
					img
						position absolute
						top 7px
						left 7px
						opacity 0
				&_radio:nth-child(1)
					img
						opacity 1
				&_radio:nth-child(2)
					img
						opacity 1
				&_radio:nth-child(4)
					img
						opacity 1
		.date_write
			float left
			width 770px
			margin 106px 0 72px 0
			&_form
				width auto
				height 39px
				position relative
				label
					width auto
					font-size 23px
					font-weight bold
					position absolute
					bottom 0px
				input
					font-family 'Courier New', sans-serif
					color #231f20
					font-size 30px
					font-weight normal
					border none
					background none
					position absolute
					left 198px
					bottom 19px
				img
					width auto
					position absolute
					left 184 px
					bottom 3px
