mixin content()
	+b.content&attributes(attributes)
			header
				.header_logo
					img(src='logo.png' alt='logo')
				.header_top_secret
					img(src='header_top_secret.png' alt='logo top secret')
				.header_title
					img(src='header_delo.png' alt='title Business')
			.main_cont
				section.data
					form.bio
						.bio_name.bio_label
							label Полное ФИО 
						input.bio_name(type='text' name='full_name' value='Спиридонов Максим Александрович')
						img(src='bio_under_line_1.png' alt='underline of string 1')

						.bio_year_born.bio_label
							label Год рождения 
						input.bio_year_born(type='text' name='date_born' value='1972')
						img(src='bio_under_line_2.png' alt='underline of string 2')
						.bio_address.bio_label
							label Место жительства 
						input.bio_address(type='text' name='address' value='г.Самара, Россия')
						img(src='bio_under_line_3.png' alt='underline of string 3')
						.bio_id_skype.bio_label
							label Скайп
						input.bio_id_skype(type='text' name='id_skype' value='msxp1972')
						img(src='bio_under_line_4.png' alt='underline of string 4')
						.bio_email.bio_label
							label Почта
						input.bio_email(type='email' name='email' value='kroti1972@gmail.com')
						img(src='bio_under_line_5.png' alt='underline of string 5')
				section.checkbox
					h3 Расскажите о себе чекбоксами
					p.
						Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. 
						Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. 
						Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
					form.row
						.form_col_1
							ul
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label БЭМ/OOCSS
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Pug (Jade)
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Stylus/LESS/SASS
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Работаю с SVG
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Верстаю семантично
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Accessibility (A11Y)
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label ES2015/ES2016
						.form_col_2
							ul
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Gulp/GRUNT
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Webpack
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Дружу с WebGL
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label jQuery
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Знаю/изучаю Angular
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Знаю/изучаю React
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Знаю/изучаю Node.js
						.form_col_3
							ul
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox' checked)
										label Использую Git
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox' checked)
										label С глазомером всё ок
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label Читаю blog.csssr.ru
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox' checked)
										label Я ленивый(-ая)
								li
									.row_checkbox_block
										.row_checkbox_block_img
											img(src='checkbox_border.png')
											.row_checkbox_block_input
												input(type='checkbox')
										label У меня хороший английский
				section.level_js
						h3 Уровень владения JavaScript
						.level_js_block
							.level_js_block_marker
								img(src='line_marker.png' alt='marker')
							.level_js_block_line_horiz
								img(src='line_horiz.png' alt='line horizontal')
							.level_js_block_line_left_side
								img(src='line_left_side.png' alt='line vertical left')
							.level_js_block_line_middle_mark_1
								img(src='line_middle_mark.png' alt='line vertical middle')
							.level_js_block_line_middle_mark_2
								img(src='line_middle_mark.png' alt='line vertical middle')
							.level_js_block_line_right_side
								img(src='line_right_side.png' alt='line vertical right')
				section.talk_words
					h3 Расскажите о себе словами
					p.
						Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. 
						Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
					form.talk_words_text_area
						textarea(name='about_youself' form='id_about_you' value='Talk about you') Talk about you
				section.section.plans_future
					h3 Какие у вас планы на будующее?
					p.
						Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
					form.plans_future_form
						.plans_future_form_radio
							.plans_future_form_radio_custom
								.plans_future_form_radio_custom_ellipse
									img(src='radio_ellipse.png')
								.plans_future_form_radio_custom_checked
									img(src='radio_ellipse_marker.png')
								input(type='radio' name='future' value='')
							span Верстать
						.plans_future_form_radio
							.plans_future_form_radio_custom
								.plans_future_form_radio_custom_ellipse
									img(src='radio_ellipse.png')
								.plans_future_form_radio_custom_checked
									img(src='radio_ellipse_marker.png')
								input(type='radio' name='future' value='')
							span Прокачиваться в JS
						.plans_future_form_radio
							.plans_future_form_radio_custom
								.plans_future_form_radio_custom_ellipse
									img(src='radio_ellipse.png')
								.plans_future_form_radio_custom_checked
									img(src='radio_ellipse_marker.png')
								input(type='radio' name='future' value='')
							span Менеджерство
						.plans_future_form_radio
							.plans_future_form_radio_custom
								.plans_future_form_radio_custom_ellipse
									img(src='radio_ellipse.png')
								.plans_future_form_radio_custom_checked
									img(src='radio_ellipse_marker.png')
								input(type='radio' name='future' value='')
							span Другое
				section.date_write
					form
						.date_write_form
							label Дата заполнения 
							input(type='text' name='date' value='13.10.2016')
							img(src='date_under_line.png' alt='line under string')


