.content
	display block
 .page
	width 1000px
	font-family 'PT Sans', sans-serif
	color #2f1b15
	line-height 1
	background-image url("../../body_background.jpg")
	background-repeat no-repeat
	background-size 1000px
	background-position: center
	margin 0 auto
	text-align center

	header
		width 100%
		float left
		
		.header_logo
			float left
			margin 69px 0 0 115px
			
		.header_top_secret
			float right
			margin 48px 54px 0 0
			
		.header_title
			padding-top 163px
			
	.main_cont
		width 770px
		margin 26px 0 0 113px
		float left
		text-align left
		.data
			float left
			.bio
				float left
				&_name
					width 142px
					
				&_year_born
					width 148px
				&_address
					width 192px
				&_id_skype
				&_email
					width 63px
					
				input
					float left
					font-family 'Courier New', sans-serif
					color #231f20
					font-size 30px
					font-weight normal
					border none
					background rgba(255, 255, 255, 0)
					padding 20px 0 8px 31px
					&.bio_name
						width 620px
					&.bio_year_born
						width 145px
					&.bio_address
						width 500px
					&.bio_id_skype
					&.bio_email
						width 400px
				&_label
					float left
					line-height 1
					padding-top 44px
					font-size 23px
					font-weight bold
				img
					width auto
					float right

		.checkbox
			margin-top 69px
			float left
			h3
				font-size 24px
				font-weight bold
			p
				font-size 15px
				width 755px
				line-height 1.3
				color #464542
				margin-top 13px
			.row
				font-size 21px
				font-weight bold
				margin-top 33px
				float left
				.form_col_1
					width 258px
					float left
				.form_col_2
					width 270px
					float left
				.form_col_3
					width 242px
					float left
				&_checkbox_block
					width 100%
					float left
					margin-bottom 17px
					label
						float left
						margin-left 29px
					&_input
						position absolute
						top -4px
						left 3px
					&_img
						position absolute
		.level_js
			float left
			margin-top 45px
			h3
				font-size 24px
				font-weight bold
			&_block
				position relative
				&_marker
					position absolute
					top 28px
				&_line_horiz
					position absolute
					top 35px
				&_line_left_side
					position absolute
					top 45px
				&_line_middle_mark_1
					position absolute
					top 45px
					left 148px
				&_line_middle_mark_2
					position absolute
					top 45px
					left 374px
				&_line_right_side
					position absolute
					top 45px
					left 759px
		.talk_words
			float left
			margin-top 142px
			h3
				font-size 24px
				font-weight bold
			p
				font-size 15px
				width 755px
				line-height 1.3
				color #464542
				margin-top 13px
			&_text_area
				top 23px
				textarea
					width 771px
					height 180px
					font-family 'Courier New', sans-serif
					font-size 30px
					line-height 60px
					border none
					background none
					background-image url('../../text_area_line.png')
					background-repeat y-repeat
					background-position 0px 23px
		.plans_future
			float left
			margin-top 53px
			h3
				font-size 24px
				font-weight bold
			p
				font-size 15px
				width 755px
				line-height 1.3
				color #464542
				margin-top 13px
			&_form
				width 100%
				float left
				margin-top 24px
				&_radio
					width auto
					margin-right 20px
					float left
					&_custom
						position relative
						&_ellipse
							position absolute
						&_checked
							position absolute
							top 7px
							left 7px
						input
							position absolute
							top 7px
							left 7px
					span
						font-size 20px
						font-weight bold
						width auto
						margin 5px 0 0 33px
						float left
		.date_write
			width 100%
			float left
			margin 106px 0 72px 0
			&_form
				width auto
				height 39px
				position relative
				label
					width auto
					font-size 23px
					font-weight bold
					position absolute
					bottom 0px
				input
					font-family 'Courier New', sans-serif
					color #231f20
					font-size 30px
					font-weight normal
					border none
					background none
					position absolute
					left 198px
					bottom 19px
				img
					width auto
					position absolute
					left 184 px
					bottom 3px
    
