include /blocks/bio/bio
include /blocks/section-checkbox/section-checkbox
include /blocks/slider/slider
include /blocks/section-textarea/section-textarea
include /blocks/section-check-radio/section-check-radio
include /blocks/section-date/section-date

mixin content()
	+b.content&attributes(attributes)
			+bio()
			+section-checkbox()
			+slider()
			+section-textarea()
			+section-check-radio()
			+section-date()

