.content .main_cont,
display block .main_cont {
  width: 770px;
  margin: 26px 0 0 113px;
  float: left;
  text-align: left;
}
.content .main_cont .checkbox,
display block .main_cont .checkbox {
  width: 770px;
  margin-top: 69px;
  float: left;
}
.content .main_cont .checkbox h3,
display block .main_cont .checkbox h3 {
  font-size: 24px;
  font-weight: bold;
}
.content .main_cont .checkbox p,
display block .main_cont .checkbox p {
  font-size: 15px;
  width: 755px;
  line-height: 1.3;
  color: #464542;
  margin-top: 13px;
}
.content .main_cont .checkbox .row,
display block .main_cont .checkbox .row {
  font-size: 21px;
  font-weight: bold;
  margin-top: 33px;
  float: left;
}
.content .main_cont .checkbox .row .form_col_1,
display block .main_cont .checkbox .row .form_col_1 {
  width: 258px;
  float: left;
}
.content .main_cont .checkbox .row .form_col_2,
display block .main_cont .checkbox .row .form_col_2 {
  width: 270px;
  float: left;
}
.content .main_cont .checkbox .row .form_col_3,
display block .main_cont .checkbox .row .form_col_3 {
  width: 242px;
  float: left;
}
.content .main_cont .checkbox .row_checkbox_block,
display block .main_cont .checkbox .row_checkbox_block {
  width: 100%;
  float: left;
  margin-bottom: 17px;
}
.content .main_cont .checkbox .row_checkbox_block span,
display block .main_cont .checkbox .row_checkbox_block span {
  float: left;
  margin-left: 29px;
}
.content .main_cont .checkbox .row_checkbox_block_img,
display block .main_cont .checkbox .row_checkbox_block_img {
  position: absolute;
}
.content .main_cont .checkbox .row_checkbox_block_input,
display block .main_cont .checkbox .row_checkbox_block_input {
  position: absolute;
  top: -4px;
  left: 3px;
  opacity: 0;
}
.content .main_cont .checkbox .row_checkbox_block_checked,
display block .main_cont .checkbox .row_checkbox_block_checked {
  position: absolute;
  z-index: 1000;
  top: -28px;
  left: 0px;
}
.content .main_cont .checkbox .row_checkbox_block_checked p,
display block .main_cont .checkbox .row_checkbox_block_checked p {
  font-size: 30px;
  color: #2f1b15;
  font-style: italic;
  opacity: 0;
}
.content .main_cont .checkbox .row .form_col_1 li:nth-child(1) p,
display block .main_cont .checkbox .row .form_col_1 li:nth-child(1) p {
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_1 li:nth-child(2) p,
display block .main_cont .checkbox .row .form_col_1 li:nth-child(2) p {
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_1 li:nth-child(3) p,
display block .main_cont .checkbox .row .form_col_1 li:nth-child(3) p {
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_2 li:nth-child(1) p,
display block .main_cont .checkbox .row .form_col_2 li:nth-child(1) p {
  opacity: 1;
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_2 li:nth-child(4) p,
display block .main_cont .checkbox .row .form_col_2 li:nth-child(4) p {
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_3 li:nth-child(1) p,
display block .main_cont .checkbox .row .form_col_3 li:nth-child(1) p {
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_3 li:nth-child(2) p,
display block .main_cont .checkbox .row .form_col_3 li:nth-child(2) p {
  opacity: 1;
}
.content .main_cont .checkbox .row .form_col_3 li:nth-child(4) p,
display block .main_cont .checkbox .row .form_col_3 li:nth-child(4) p {
  opacity: 1;
}
.content .main_cont .level_js,
display block .main_cont .level_js {
  float: left;
  margin-top: 45px;
}
.content .main_cont .level_js h3,
display block .main_cont .level_js h3 {
  font-size: 24px;
  font-weight: bold;
}
.content .main_cont .level_js_block,
display block .main_cont .level_js_block {
  position: relative;
}
.content .main_cont .level_js_block_marker,
display block .main_cont .level_js_block_marker {
  position: absolute;
  top: 28px;
  left: 258px;
}
.content .main_cont .level_js_block_line_horiz,
display block .main_cont .level_js_block_line_horiz {
  position: absolute;
  top: 35px;
}
.content .main_cont .level_js_block_line_left_side,
display block .main_cont .level_js_block_line_left_side {
  position: absolute;
  top: 45px;
}
.content .main_cont .level_js_block_line_middle_mark_1,
display block .main_cont .level_js_block_line_middle_mark_1 {
  position: absolute;
  top: 45px;
  left: 148px;
}
.content .main_cont .level_js_block_line_middle_mark_2,
display block .main_cont .level_js_block_line_middle_mark_2 {
  position: absolute;
  top: 45px;
  left: 374px;
}
.content .main_cont .level_js_block_line_right_side,
display block .main_cont .level_js_block_line_right_side {
  position: absolute;
  top: 45px;
  left: 759px;
}
.content .main_cont .level_js_block_text,
display block .main_cont .level_js_block_text {
  width: 770px;
  font-size: 13px;
  font-weight: bold;
  color: #37221b;
  position: absolute;
  top: 77px;
  left: 3px;
}
.content .main_cont .level_js_block_text_1,
display block .main_cont .level_js_block_text_1 {
  float: left;
  width: 149px;
}
.content .main_cont .level_js_block_text_2,
display block .main_cont .level_js_block_text_2 {
  float: left;
  width: 228px;
}
.content .main_cont .level_js_block_text_3,
display block .main_cont .level_js_block_text_3 {
  float: left;
  width: 180px;
}
.content .main_cont .level_js_block_text_4,
display block .main_cont .level_js_block_text_4 {
  float: right;
  text-align: right;
  width: 166px;
}
.content .main_cont .talk_words,
display block .main_cont .talk_words {
  float: left;
  margin-top: 142px;
}
.content .main_cont .talk_words h3,
display block .main_cont .talk_words h3 {
  font-size: 24px;
  font-weight: bold;
}
.content .main_cont .talk_words p,
display block .main_cont .talk_words p {
  font-size: 15px;
  width: 755px;
  line-height: 1.3;
  color: #464542;
  margin-top: 13px;
}
.content .main_cont .talk_words_text_area,
display block .main_cont .talk_words_text_area {
  top: 23px;
}
.content .main_cont .talk_words_text_area textarea,
display block .main_cont .talk_words_text_area textarea {
  width: 771px;
  height: 180px;
  font-family: 'Courier New', sans-serif;
  font-size: 30px;
  line-height: 60px;
  border: none;
  background: none;
  background-image: url("../../text_area_line.png");
  background-repeat: y-repeat;
  background-position: 0px 23px;
}
.content .main_cont .plans_future,
display block .main_cont .plans_future {
  float: left;
  margin-top: 53px;
}
.content .main_cont .plans_future h3,
display block .main_cont .plans_future h3 {
  font-size: 24px;
  font-weight: bold;
}
.content .main_cont .plans_future p,
display block .main_cont .plans_future p {
  font-size: 15px;
  width: 755px;
  line-height: 1.3;
  color: #464542;
  margin-top: 13px;
}
.content .main_cont .plans_future_form,
display block .main_cont .plans_future_form {
  float: left;
  width: 100%;
  margin-top: 24px;
}
.content .main_cont .plans_future_form_radio,
display block .main_cont .plans_future_form_radio {
  width: auto;
  margin-right: 20px;
  float: left;
}
.content .main_cont .plans_future_form_radio_custom,
display block .main_cont .plans_future_form_radio_custom {
  position: relative;
}
.content .main_cont .plans_future_form_radio_custom_ellipse,
display block .main_cont .plans_future_form_radio_custom_ellipse {
  position: absolute;
}
.content .main_cont .plans_future_form_radio_custom input,
display block .main_cont .plans_future_form_radio_custom input {
  position: absolute;
  top: 7px;
  left: 7px;
  display: none;
}
.content .main_cont .plans_future_form_radio span,
display block .main_cont .plans_future_form_radio span {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  margin: 5px 0 0 33px;
  float: left;
}
.content .main_cont .plans_future_form_checked,
display block .main_cont .plans_future_form_checked {
  position: absolute;
}
.content .main_cont .plans_future_form_checked img,
display block .main_cont .plans_future_form_checked img {
  position: absolute;
  top: 7px;
  left: 7px;
  opacity: 0;
}
.content .main_cont .plans_future_form_radio:nth-child(1) img,
display block .main_cont .plans_future_form_radio:nth-child(1) img {
  opacity: 1;
}
.content .main_cont .plans_future_form_radio:nth-child(2) img,
display block .main_cont .plans_future_form_radio:nth-child(2) img {
  opacity: 1;
}
.content .main_cont .plans_future_form_radio:nth-child(4) img,
display block .main_cont .plans_future_form_radio:nth-child(4) img {
  opacity: 1;
}
.content .main_cont .date_write,
display block .main_cont .date_write {
  float: left;
  width: 770px;
  margin: 106px 0 72px 0;
}
.content .main_cont .date_write_form,
display block .main_cont .date_write_form {
  width: auto;
  height: 39px;
  position: relative;
}
.content .main_cont .date_write_form label,
display block .main_cont .date_write_form label {
  width: auto;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}
.content .main_cont .date_write_form input,
display block .main_cont .date_write_form input {
  font-family: 'Courier New', sans-serif;
  color: #231f20;
  font-size: 30px;
  font-weight: normal;
  border: none;
  background: none;
  position: absolute;
  left: 198px;
  bottom: 19px;
}
.content .main_cont .date_write_form img,
display block .main_cont .date_write_form img {
  width: auto;
  position: absolute;
  left: 184px;
  bottom: 3px;
}
