include /blocks/form-bio/form-bio
include /blocks/form-checkbox/form-checkbox
include /blocks/slider/slider
include /blocks/word-info/word-info
include /blocks/plans-future/plans-future
mixin my_skill(skill)
	li
		label.row_checkbox_block
			.row_checkbox_block_img
				img(src='checkbox_border.png')
				.row_checkbox_block_input
					input.my_input(type='checkbox' name='skill')
				.row_checkbox_block_checked
					p.
						V
			span= skill

mixin my_future(plan)
	.plans_future_form_radio
		.plans_future_form_radio_custom
			.plans_future_form_radio_custom_ellipse
				img(src='radio_ellipse.png')
			input(type='radio' name='future' value='')
			.plans_future_form_checked
				img(src='radio_ellipse_marker.png')
		span= plan

mixin content()
	+b.content&attributes(attributes)
		+form-bio()
		+form-checkbox()
		+slider()
		+word-info()
		+plans-future()
	<script src="custom.js"></script>


