.checkbox
	display block
	width 770px
	&_position
		margin-top 67px
		float left
	&__title
		font-size 24px
		font-weight bold
		&_position
			float left
	&__text
		font-size 15px
		width 755px
		line-height 1.4
		color #464542
		&_position
			margin-top 11px
			float left
