mixin checkbox()
	+b.checkbox._position&attributes(attributes)
			+e('h3').title._position Расскажите о себе чекбоксами
			+e('p').text._position
				|Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. 
				|Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. 
				|Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			block
