mixin switch()
	+b.switch._position&attributes(attributes)
				+e('h3').title Какие у вас планы на будущее?
				+e('p').title-text
					|Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
				block
