.switch
	display block
	&_position
		float left
		margin-top 53px
	&__title
		font-size 24px
		font-weight bold
	&__title-text
		font-size 15px
		width 755px
		line-height 1.3
		color #464542
		margin-top 13px

