mixin form-checkbox()
	+b.form-checkbox&attributes(attributes)
		section.checkbox
			h3 Расскажите о себе чекбоксами
			p.
				Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. 
				Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. 
				Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			
			form.row
				
				.form_col_1
					- var values_form_col_1 = ['БЭМ/OOCSS','label Pug (Jade)','Stylus/LESS/SASS','Работаю с SVG','Верстаю семантично','Accessibility (A11Y)','ES2015/ES2016'];
					ul
						each val in values_form_col_1
							+my_skill(val)
				
				.form_col_2
					- var values_form_col_2 = ['Gulp/GRUNT','Webpack','Дружу с WebGL','jQuery','Знаю/изучаю Angular','Знаю/изучаю React','Знаю/изучаю Node.js'];
					ul
						each val in values_form_col_2
							+my_skill(val)
				
				.form_col_3
					- var values_form_col_3 = ['Использую Git','С глазомером всё ок','Читаю blog.csssr.ru','Я ленивый(-ая)','У меня хороший английский'];
					ul
						each val in values_form_col_3
							+my_skill(val)
