include /blocks/header/header
include /blocks/content/content
include /blocks/footer/footer
extends /blocks/layout-default/layout-default
block head
	- var pageTitle = 'Resume';
			+header()
			+content()
			//-+footer()
