.bio-form
	display block
	width 100%
	&_position
		float right
	&__label
		width auto
		font-size 22.4px
		font-weight bold
		padding-top 40px
		float left
	&__input
		margin-left 4px
		float right
		font-family 'Courier New', sans-serif
		color #231f20
		font-size 30px
		font-weight normal
		border none
		border-bottom 3px solid #54382d
		background none
		padding 16px 0 6px 17px
		&_length_617px
			width 627px
		&_length_608px
			width 618px
		&_length_564px
			width 574px
		&_length_687px
			width 697px
