.bio-form
	display block
	width 100%
	&_position
		float right
	&__label
		width auto
		font-size 23px
		font-weight bold
		padding-top 38px
		float left
	&__input
		margin-left 15px
		float right
		font-family 'Courier New', sans-serif
		color #231f20
		font-size 30px
		font-weight normal
		border none
		border-bottom 3px solid #54382d
		background none
		padding 15px 0 8px 31px
		&_length_617px
			width 617px
		&_length_608px
			width 608px
		&_length_564px
			width 564px
		&_length_687px
			width 687px
