.bio {
  width: 100%;
  display: block;
  float: left;
}
.bio .bio-form {
  width: 100%;
  float: left;
  text-align: left;
}
.bio .bio-form .bio-form-block_prop {
  width: 100%;
}
.bio .bio-form .bio-form-block_position {
  float: left;
}
.bio .bio-form .bio-form-block__label {
  width: auto;
  font-size: 23px;
  font-weight: bold;
  padding-top: 44px;
  float: left;
}
.bio .bio-form .bio-form-block__field {
  margin-left: 15px;
  float: right;
  font-family: 'Courier New', sans-serif;
  color: #231f20;
  font-size: 30px;
  font-weight: normal;
  border: none;
  border-bottom: 3px solid #54382d;
  background: none;
  padding: 20px 0 8px 31px;
}
