.bio
	width 100%
	display block
	float left
	.bio-form
		width 100%
		float left
		text-align left
		&_position
			padding-top 8px
		.bio-form-block
			&_prop
				width 100%
			&_position
				float right
			&__label
				width auto
				font-size 23px
				font-weight bold
				padding-top 41px
				float left
			&__field
				margin-left 15px
				float right
				font-family 'Courier New', sans-serif
				color #231f20
				font-size 30px
				font-weight normal
				border none
				border-bottom 3px solid #54382d
				background none
				padding 15px 0 8px 31px
				&_length_627px
					width 617px
				&_length_619px
					width 608px
				&_length_576px
					width 564px
				&_length_697px
					width 687px
					
		// &__name
		// 	width 142px
			
		// &__year-born
		// 	width 148px
		// &_address
		// 	width 192px
		// &_id_skype
		// &_email
		// 	width 63px
			
		// input
		// 	float left
		// 	font-family 'Courier New', sans-serif
		// 	color #231f20
		// 	font-size 30px
		// 	font-weight normal
		// 	border none
		// 	background rgba(255, 255, 255, 0)
		// 	padding 20px 0 8px 31px
		// 	&.bio_name
		// 		width 620px
		// 	&.bio_year_born
		// 		width 145px
		// 	&.bio_address
		// 		width 500px
		// 	&.bio_id_skype
		// 	&.bio_email
		// 		width 400px
		// &_label
		// 	float left
		// 	line-height 1
		// 	padding-top 44px
		// 	font-size 23px
		// 	font-weight bold
		// img
		// 	width auto
		// 	float right
