mixin header()
	+b.header&attributes(attributes)
		+e.logo_left
			img(src='logo.png' alt='logo')
		+e.logo_right
			img(src='header_top_secret.png' alt='logo top secret')
		+e.title_pos
			img(src='header_delo.png' alt='title Business')
