.header
	display block
	float left
	width 100%
	&__logo
		&_left
			float left
			margin 69px 0 0 115px
		
	&__logo
		&_right
			float right
			margin 48px 54px 0 0
		
	&__title
		&_pos
			padding-top 163px
