.date-form
	display block
	width auto
	height 39px
	&_position
		position relative
	&__label
		width auto
		font-size 23px
		font-weight bold
		&_position
			position absolute
			bottom 0px
	&__input
		width 206px
		font-family 'Courier New', sans-serif
		color #231f20
		font-size 30px
		font-weight normal
		border none
		border-bottom 3px solid #42261f
		background none
		padding 0 0 5px 12px
		&_position
			position absolute
			left 185px
			bottom 4px
