.words
	display block
	&_position
		float left
		margin-top 2px
	&__title
		font-size 24px
		font-weight bold
	&__title-p
		font-size 15px
		width 755px
		line-height 1.4
		color #464542
		padding-left 4px 
		&_position
			margin-top 13px
