.words
	display block
	&_position
		float left
	&__title
		font-size 24px
		font-weight bold
	&__title-p
		font-size 15px
		width 755px
		line-height 1.3
		color #464542
		&_position
			margin-top 13px
