mixin footer()
	+b.footer&attributes(attributes)
		section.date_write
	form
		.date_write_form
			label Дата заполнения 
			input(type='text' name='date' value='18.10.2016')
			img(src='date_under_line.png' alt='line under string')
