mixin slider()
	+b.slider&attributes(attributes)
		section.level_js
			h3 Уровень владения JavaScript
			.level_js_block
				.level_js_block_marker
					img(src='line_marker.png' alt='marker')
				.level_js_block_line_horiz
					img(src='line_horiz.png' alt='line horizontal')
				.level_js_block_line_left_side
					img(src='line_left_side.png' alt='line vertical left')
				.level_js_block_line_middle_mark_1
					img(src='line_middle_mark.png' alt='line vertical middle')
				.level_js_block_line_middle_mark_2
					img(src='line_middle_mark.png' alt='line vertical middle')
				.level_js_block_line_right_side
					img(src='line_right_side.png' alt='line vertical right')
				.level_js_block_text
					.level_js_block_text_1 Не владею
					.level_js_block_text_2 Использую готовые решения
					.level_js_block_text_3 Использую готовые решения и умею их переделывать
					.level_js_block_text_4 Пишу сложный JS с нуля
