.slider
	width 100%
	display block
	&_position
		float left
		margin-top 45px
	&__title
		font-size 24px
		font-weight bold
	.level-js-graph
		width 100%
		height 142px
		position relative
		&__marker
			position absolute
			top 28px
			left 258px
		&__line-horiz
			position absolute
			top 35px
		&__line-left-side
			position absolute
			top 45px
		&__middle-line-1
			position absolute
			top 45px
			left 148px
		&__middle-line-2
			position absolute
			top 45px
			left 374px
		&__line-right-side
			position absolute
			top 45px
			left 759px
		&__legend-graph
			width 770px
			&_position
				position absolute
				top 77px
				left 3px
		&__text-level
			font-size 13px
			font-weight bold
			color #37221b
			&_position-1
				float left
				width 149px
			&_position-2
				float left
				width 228px
			&_position-3
				float left
				width 180px
			&_position-4
				float right
				text-align right
				width 166px
