mixin my_future(plan)
	+e.radio
		+e.radio-custom
			+e('img').custom-ellipse(src='radio_ellipse.png')
			+e('input').field(type='radio' name='future' value='')
			+e('img').checked(src='radio_ellipse_marker.png')
		+e('span').value-plan= plan

mixin section-check-radio()
	+b.section-check-radio&attributes(attributes)
		+b('section').section-check-input
				+e('h3').title Какие у вас планы на будующее?
				+e('p').title-text
					|Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
				+b('form').section-check-input-form
					- var val_plans = ['Верстать','Прокачиваться в JS','Менеджерство','Другое'];
					each val_plan in val_plans
						+my_future(val_plan)
