.form-bio
	display block
	.main_cont
		width 770px
		margin 26px 0 0 113px
		float left
		text-align left
		.data
			float left
			.bio
				float left
				&_name
					width 142px
					
				&_year_born
					width 148px
				&_address
					width 192px
				&_id_skype
				&_email
					width 63px
					
				input
					float left
					font-family 'Courier New', sans-serif
					color #231f20
					font-size 30px
					font-weight normal
					border none
					background rgba(255, 255, 255, 0)
					padding 20px 0 8px 31px
					&.bio_name
						width 620px
					&.bio_year_born
						width 145px
					&.bio_address
						width 500px
					&.bio_id_skype
					&.bio_email
						width 400px
				&_label
					float left
					line-height 1
					padding-top 44px
					font-size 23px
					font-weight bold
				img
					width auto
					float right
