mixin form-bio()
	+b.form-bio&attributes(attributes)
		//- .main_cont
		//- 		section.data
		//- 			form.bio
		//- 				.bio_name.bio_label
		//- 					label Полное ФИО 
		//- 				input.bio_name(type='text' name='full_name' value='Спиридонов Максим Александрович')
		//- 				img(src='bio_under_line_1.png' alt='underline of string 1')

		//- 				.bio_year_born.bio_label
		//- 					label Год рождения 
		//- 				input.bio_year_born(type='text' name='date_born' value='1972')
		//- 				img(src='bio_under_line_2.png' alt='underline of string 2')
		//- 				.bio_address.bio_label
		//- 					label Место жительства 
		//- 				input.bio_address(type='text' name='address' value='г.Самара, Россия')
		//- 				img(src='bio_under_line_3.png' alt='underline of string 3')
		//- 				.bio_id_skype.bio_label
		//- 					label Скайп
		//- 				input.bio_id_skype(type='text' name='id_skype' value='msxp1972')
		//- 				img(src='bio_under_line_4.png' alt='underline of string 4')
		//- 				.bio_email.bio_label
		//- 					label Почта
		//- 				input.bio_email(type='email' name='email' value='kroti1972@gmail.com')
		//- 				img(src='bio_under_line_5.png' alt='underline of string 5')
