.form-bio {
  display: block;
}
.form-bio .main_cont {
  width: 770px;
  margin: 26px 0 0 113px;
  float: left;
  text-align: left;
}
.form-bio .main_cont .data {
  float: left;
}
.form-bio .main_cont .data .bio {
  float: left;
}
.form-bio .main_cont .data .bio_name {
  width: 142px;
}
.form-bio .main_cont .data .bio_year_born {
  width: 148px;
}
.form-bio .main_cont .data .bio_address {
  width: 192px;
}
.form-bio .main_cont .data .bio_id_skype,
.form-bio .main_cont .data .bio_email {
  width: 63px;
}
.form-bio .main_cont .data .bio input {
  float: left;
  font-family: 'Courier New', sans-serif;
  color: #231f20;
  font-size: 30px;
  font-weight: normal;
  border: none;
  background: rgba(255,255,255,0);
  padding: 20px 0 8px 31px;
}
.form-bio .main_cont .data .bio input.bio_name {
  width: 620px;
}
.form-bio .main_cont .data .bio input.bio_year_born {
  width: 145px;
}
.form-bio .main_cont .data .bio input.bio_address {
  width: 500px;
}
.form-bio .main_cont .data .bio input.bio_id_skype,
.form-bio .main_cont .data .bio input.bio_email {
  width: 400px;
}
.form-bio .main_cont .data .bio_label {
  float: left;
  line-height: 1;
  padding-top: 44px;
  font-size: 23px;
  font-weight: bold;
}
.form-bio .main_cont .data .bio img {
  width: auto;
  float: right;
}
